@use "../../../scss/" as *;

.gameplay {
    height: 100%;
    overflow: hidden;
    @include flex(center, center);
    &__content {
        position: relative;

        .title {
            text-align: center;
        }

        .btns > * ~ * {
            margin-left: 1rem;
        }
    }
}
