.team-table {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
}

.item {
    width: calc((100% - 100px)/ 3);
    margin-right: 50px;
    margin-bottom: 58px;
    display: flex;
    align-items: center;

    img {
        margin-right: 10px;
        border-radius: 50%;
        height: 100px;
    }

    .position {
        color: #d0a85c;
    }
}

