@use "../../../scss/" as *;
@use "sass:math";

.tokenomic-table {
    background: #30281cb0;
    padding: 40px;
}


.tokenomic-hero {
    margin-left: 5vw;
    height: 50vh;
}

tr:first-child {
    color: #d0a85c
}